html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    height: 100%;
    width: 100%;
    background: rgb(250, 250, 250);
  }

  .logo-text {
      text-align: center;
      font-size: 24px;
      font-family: 'Comfortaa', cursive;
      text-transform: uppercase;
  }

  .picture-frame {
    width: 80%;
    padding: 8px;
    /* height: 300px; */
    /* centering below */
    display: flex;
    justify-content: center;
    /* border: 2px solid gold; */
    align-items: center;
}

.picture-frame img {
    width: 100%;
}

.playground {
    /* border: 2px solid; */
    display: flex;
    min-height: 300px;
    flex-direction: column;
    /* how to line up on main axis */
    justify-content: flex-start;
    /* how to line up on aross axis */
    align-items: center;
    flex-wrap: wrap;
    /* margin: 30px 200px 0px 200px; */
  }

  
  /* it's like an "if statement" for CSS */
  @media screen and (min-width: 500px) {
      body {
          /* background: cornflowerblue; */
      }

      .picture-frame {
        width: 33%;
        padding: 10px;
    }

      .playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
  }

  @media screen and (min-width: 1000px) {
    body {
        /* background: palevioletred; */
    }

    .picture-frame {
    width: 30%;
    }

    .playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo-text {
        font-size: 32px;
        text-align: center;
    }
  }

  @media screen and (min-width: 1400px) {
    body {
        background: rgb(250, 250, 250);
    }

    .picture-frame {
        width: 30%;
    }
    
    .playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        margin-right: 150px;
    }

    .logo-text {
        font-size: 45px;
        text-align: center;
    }
}



